.historias {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: center;
  align-items: center;
}
span {
  color: rgb(48, 150, 5);
}
a {
  text-decoration: none;
  color: white;
}
.saucedemo {
  text-decoration: underline;
  color: blue;
}
.card-body {
  background-color: rgb(58, 56, 56);
  color: white;
}
.card {
  width: 17rem;
  max-width: 40rem;
}

@media only screen and (min-width: 576px) {
  .card {
    width: 22rem;
    max-width: 40rem;
  }
}
@media only screen and (min-width: 768px) {
  .card {
    width: 32rem;
    max-width: 40rem;
  }
}
@media only screen and (min-width: 992px) {
  .card {
    width: 37rem;
    max-width: 40rem;
  }
}
