<div class="historias">
  <div class="card" style="width: 28rem">
    <div class="card-body">
      <h5 class="card-title">HISTORIA DE USUARIO 1</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <span>COMO </span>usuario de la página web
        <a class="saucedemo" href="https://www.saucedemo.com" target="_blank"
          >https://www.saucedemo.com</a
        >
      </li>
      <li class="list-group-item"><span>QUIERO </span>poder ingresar</li>
      <li class="list-group-item">
        <span>PARA </span>acceder a los productos disponibles.
      </li>
    </ul>
    <div class="card-body">
      <a routerLink="/criterios" class="card-link"
        >Ver los Criterios de Aceptación</a
      >
    </div>
  </div>
  <div class="card" style="width: 28rem">
    <div class="card-body">
      <h5 class="card-title">HISTORIA DE USUARIO 2</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><span>COMO </span>usuario ya logueado</li>
      <li class="list-group-item">
        <span>QUIERO </span>seleccionar el o los productos
      </li>
      <li class="list-group-item">
        <span>PARA </span>añadir al carrito de compras.
      </li>
    </ul>
    <div class="card-body">
      <a routerLink="/criterios" class="card-link"
        >Ver los Criterios de Aceptación</a
      >
    </div>
  </div>
  <div class="card" style="width: 28rem">
    <div class="card-body">
      <h5 class="card-title">HISTORIA DE USUARIO 3</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <span>COMO </span>usuario que ya eligió uno o mas productos
      </li>
      <li class="list-group-item">
        <span>QUIERO </span>verificar y/o modificar el contenido del carrito
      </li>
      <li class="list-group-item"><span>PARA </span>efectuar la compra.</li>
    </ul>
    <div class="card-body">
      <a routerLink="/criterios" class="card-link"
        >Ver los Criterios de Aceptación</a
      >
    </div>
  </div>
</div>
