.footer {
  font-weight: 700;
  font-size: 1rem;
  width: 100%;
  padding-left: 2rem;
  margin-top: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.f1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
