<nav class="navbar navbar-expand-lg">
  <div class="container">
    <div class="image col-sm-8">
      <img src="../../../assets/logo.f83a7bc9c938.png" alt="logo Silver Tech" />
    </div>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Primer Proyecto Integrador
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Mapa Mental</a></li>
            <li><a class="dropdown-item" href="#">Historias de Usuario</a></li>
            <li><a class="dropdown-item" href="#">Casos de Prueba</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Equipo</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
