.navbar {
  background-color: rgb(194, 191, 191);
  font-weight: 700;
  font-size: 1.3rem;
}
img {
  width: 150px;
  height: auto;
}
.navbar-collapse {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
