<h2>Casos de Prueba</h2>
<br /><br />
<div class="table-container">
  <table class="table table-bordered table-responsive">
    <thead class="header">
      <tr>
        <th scope="col">Escenario</th>
        <th scope="col">ID Caso de Prueba</th>
        <th scope="col">Título</th>
        <th scope="col">Tester</th>
        <th scope="col">Criticidad</th>
        <th scope="col">Precondiciones</th>
        <th scope="col">Datos de Entrada</th>
        <th scope="col">Pasos</th>
        <th scope="col">Resultado Esperado</th>
        <th scope="col">Resultado Obtenido</th>
        <th scope="col">Estado</th>
        <th scope="col">Observaciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of array">
        <th scope="row">{{ item.Escenario }}</th>
        <td>{{ item.ID }}</td>
        <td>{{ item.Titulo }}</td>
        <td>{{ item.Tester }}</td>
        <td>{{ item.Criticidad }}</td>
        <td>
          <h6>{{ item.Precondiciones.a }}</h6>
          <h6>{{ item.Precondiciones.b }}</h6>
          <h6>{{ item.Precondiciones.c }}</h6>
        </td>
        <td>
          <h6>{{ item.Datos.a }}</h6>
          <h6>{{ item.Datos.b }}</h6>
        </td>
        <td>
          <h6>{{ item.Pasos.a }}</h6>
          <h6>{{ item.Pasos.b }}</h6>
          <h6>{{ item.Pasos.c }}</h6>
          <h6>{{ item.Pasos.d }}</h6>
        </td>
        <td>
          <h6>{{ item.ResultadoE.a }}</h6>
          <h6>{{ item.ResultadoE.b }}</h6>
        </td>
        <td>
          <h6>{{ item.ResultadoO.a }}</h6>
          <h6>{{ item.ResultadoO.b }}</h6>
        </td>
        <td>{{ item.Estado }}</td>
        <td>{{ item.Observaciones }}</td>
      </tr>
    </tbody>
  </table>
</div>
