<div class="criterios">
  <div class="card" style="width: 45rem">
    <div class="card-body">
      <h5 class="card-title">
        CRITERIOS DE ACEPTACIÓN PARA LA HISTORIA DE USUARIO 1
      </h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">criterio1</li>
      <li class="list-group-item">criterio2</li>
      <li class="list-group-item">criterio3</li>
      <li class="list-group-item">criterio4</li>
    </ul>
  </div>
  <div class="card" style="width: 45rem">
    <div class="card-body">
      <h5 class="card-title">
        CRITERIOS DE ACEPTACIÓN PARA LA HISTORIA DE USUARIO 2
      </h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">criterio1</li>
      <li class="list-group-item">criterio2</li>
      <li class="list-group-item">criterio3</li>
      <li class="list-group-item">criterio4</li>
    </ul>
  </div>
  <div class="card" style="width: 45rem">
    <div class="card-body">
      <h5 class="card-title">
        CRITERIOS DE ACEPTACIÓN PARA LA HISTORIA DE USUARIO 3
      </h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">criterio1</li>
      <li class="list-group-item">criterio2</li>
      <li class="list-group-item">criterio3</li>
      <li class="list-group-item">criterio4</li>
    </ul>
  </div>
</div>
