<div class="criterios">
  <div class="card" style="width: 55rem">
    <div class="card-body">
      <h5 class="card-title">
        CRITERIOS DE ACEPTACIÓN PARA LA HISTORIA DE USUARIO 1
      </h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <span>DADO</span> que como usuario debo estar registrado dentro de la
        página Web https://www.saucedemo.com
      </li>
      <li class="list-group-item">
        <span>CUANDO</span> ingreso a la página con datos validos
      </li>
      <li class="list-group-item">
        <span>ENTONCES</span> debo ser redirigido a la página principal y poder
        acceder a los productos.
      </li>
    </ul>
  </div>
  <div class="card" style="width: 55rem">
    <div class="card-body">
      <h5 class="card-title">
        CRITERIOS DE ACEPTACIÓN PARA LA HISTORIA DE USUARIO 2
      </h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <span>DADO</span> que la página debe mostrar el catálogo de los
        productos.
      </li>
      <li class="list-group-item">
        <span>CUANDO</span> se seleccione algún producto, debo poder añadir al
        carrito el artículo a través del botón Add to cart (Añadir al carrito)
      </li>
      <li class="list-group-item">
        <span>ENTONCES</span> que el carrito de compras indique la cantidad de
        producto(s) seleccionados.
      </li>
    </ul>
  </div>
  <div class="card" style="width: 55rem">
    <div class="card-body">
      <h5 class="card-title">
        CRITERIOS DE ACEPTACIÓN PARA LA HISTORIA DE USUARIO 3
      </h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <span>DADO</span> que están los productos en el carrito de compras
      </li>
      <li class="list-group-item">
        <span>CUANDO</span>se seleccione el carrito de compras redirija a la
        página Your cart (Tu carrito)
      </li>
      <li class="list-group-item">
        <span>ENTONCES</span>se pueda confirmar la compra a través del botón
        Checkout (Verificar)
      </li>
    </ul>
  </div>
</div>
