<h3>MEJORAS PROPUESTAS PARA EL SITIO:</h3>
<h4>Mejora 1:</h4>
<h5>
  Sería una buena mejora para el sitio poder agregar al Carrito de Compras MÁS
  DE UN PRODUCTO DEL MISMO TIPO lo cual no es posible ahora.
</h5>
<h4>Mejora 2:</h4>
<h5>
  Sería una buena mejora para el sitio poder ver los Términos de Servicio(Terms
  of Service) que se encuentran en el pie de página y no conducen a ningún lado.
</h5>
<h4>Mejora 3:</h4>
<h5>
  Sería una buena mejora para el sitio poder ver las Políticas de
  Privacidad(Privacy Policy) que se encuentran en el pie de página y no conducen
  a ningún lado.
</h5>
<h4>Mejora 4:</h4>
<h5>
  Sería una buena mejora para el sitio poner imágenes de los productos que se
  correspondan con los mismos.
</h5>
