<div class="card" style="width: 100%">
  <img
    src="../../../assets/WEB SWAG LABS PROYECTO INTEGRADOR.jpeg"
    class="card-img-top"
    alt="Mapa Mental"
  />
  <div class="card-body">
    <h5 class="card-title">Mapeo del Sitio</h5>
    <p class="card-text">
      Mapeo de las funcionalidades más importantes del sitio web
      <a href="https://www.saucedemo.com/" target="_blank"
        >https://www.saucedemo.com/</a
      >
      y sus principales historias de usuario correspondientes.
    </p>
  </div>
</div>
