<h3>Primer Proyecto Integrador</h3>
<h4>AULA 3</h4>
<div class="caratula">
  <div class="card text-bg-secondary" style="max-width: 28rem">
    <div class="card-header">Docente en Testing</div>
    <div class="card-body">
      <h5 class="card-title">Santiago Toffaletti</h5>
    </div>
  </div>
  <div class="card text-bg-secondary" style="max-width: 28rem">
    <div class="card-header">
      <a routerLink="/equipo">Equipo</a>
    </div>
    <div class="card-body">
      <a routerLink="/equipo">Nunca es Tarde</a>
    </div>
  </div>
</div>
