<h1>Primer Proyecto Integrador</h1>
<h2>AULA 3</h2>
<!-- <div>
  <h3>Docente en Testing</h3>
  <h4>Santiago Toffaletti</h4>
</div>
<div>
  <h3>Equipo</h3>
  <h4>Nunca es Tarde</h4>
</div> -->
<div class="caratula">
  <div class="card text-bg-primary mb-3" style="max-width: 28rem">
    <div class="card-header">Docente en Testing</div>
    <div class="card-body">
      <h5 class="card-title">Santiago Toffaletti</h5>
    </div>
  </div>
  <div class="card text-bg-primary mb-3" style="max-width: 28rem">
    <div class="card-header">Equipo</div>
    <div class="card-body">
      <h5 class="card-title">Nunca es Tarde</h5>
    </div>
  </div>
</div>
